
body {
  background-image: url(https://mcdn.wallpapersafari.com/medium/1/97/co341S.jpg);

}

.opening-crawl {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  font-size: 4vw;
  padding: 10px;
}
.opening-crawl h1 {
  color: yellow;
  text-align: center;
}

.mid-container {
  display: flex;
  height: 40vh;
}

.button-container{
  background-color: lightslategray;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
}

.get-all-characters {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.get-all-characters button {
  width: 30vh;
  height: 10vh;
  padding: 5px;
  border-radius: 10px;
}
.search-characters {
  display: flex;
  justify-content: center;
  padding: 10px;
  /* border-top: 1px solid black;
  border-bottom: 1px solid black; */
}
.search-characters input {
  width: 8%;
  border-radius: 10px;
}
.search-characters button {
  width: 30vh;
  height: 10vh;
  padding: 5px;
  /* margin-left: 15px; */
  border-radius: 10px;
}
.add-character {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.add-character button {
  width: 30vh;
  height: 10vh;
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(248,248,248);
}

#input-field {
  width: 50%;
  background-color: lightslategray;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#input-field div {
  display: flex;
  flex-direction: column;
}

#input-field div button {
  width: 100%;
}

.add-character-form  {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 70%;
  flex-wrap: wrap;
  padding: 5px;
  min-width: 530px;
}
.add-character-input {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.add-character-input input {
  width: 150px;
  margin-left: 5px;
}

.character-title {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.total-search-chart {
  /* min-height: 200px; */
}

.search-chart {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  border-bottom: 2px solid white;
  background-color: aliceblue;
}
.search-chart p {
  display: flex;
  justify-content: start;
}
.ten {
  width: 15%;
}
.last-row {
  width: 10%;
}

.bar-graph {
  display: grid;
  height: 90%;
  width: 100%;
  grid-template-columns: 75px auto;
  grid-template-rows: 50px auto 50px;
  padding: 10px;
  background-color: lightslategray;
  border-radius: 10px;
}

.bar-graph div {
  text-align: center;
}

.bar-graph-title {
  /* border: 1px solid red; */
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 2vw;
  color: yellow

}

.bar-graph-x-name {
  /* border: 1px solid blue; */
  /* writing-mode: sideways-lr; */
  /* transform: rotate(-90deg); */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.x-name {
  /* border: 1px solid green; */
  transform: rotate(-90deg);
  font-size: 2vw;
  height: 10px;
}

.x-label {
  /* border: 1px solid orange; */
  height: 100%;
  font-size: 1vw;
  color: white;
  justify-content: space-between;
}

.x-label p {
  margin-bottom: 50px;
}

.bar-graph-display {
  /* border: 1px solid yellow; */
  border: 3px white;
  border-style: none none solid solid;
  display: flex;
  align-items: end;
}

.bar-graph-space {
  /* border: 1px solid green; */

}

.bar-graph-y-name {
  /* border: 1px solid purple; */
  padding: 10px;
  font-size: 2vw;

}

.bar-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 100%;
  width: 20%;
  margin: 0 10px 0 10px;
  /* border: 1px solid black; */

}

.bar-column p {
  /* border: 1px solid black; */
  margin: 0;
}

.bar-data {
  /* height: 80%; */
  width: 100%;
  /* background-color: yellow; */
  background-color: black;
  border: 20px;
  /* border: 1px black; */
  border-style: solid solid none solid;
  margin: none;
  border-radius: 5px 5px 0 0;
}

.home-container {
  display: flex;
  flex-direction: column;
}

.character-container {
  margin-left: 2.5%;
  border-radius: 8px;
  display:flex;
  flex-direction: column;
  width: 42.5%;
  height: 90%;
  overflow-y: auto;
}
.character-card {
  border: 2px solid rgb(10, 10, 10);
  background-color: rgb(244, 244, 244);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
}
.left-container {
  display: flex;
  flex: .75;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  /* border: 1px solid lightblue; */
}
.test-image {
  max-width: 80%;
  border-radius: 10px;
  margin-top: 15px; 
}
.character-name {

  font-size: 34px;
}
.right-container{
  display: flex;
  flex: 1;
  /* border: 1px solid green; */
}
.column-one {
  display:flex;
  flex: 1;
  /* border: 1px solid pink; */
  flex-direction: column;
  justify-content: space-around;
  padding-left: 50px; 
}
.column-two {
  display:flex;
  flex: 1;
  /* border: 1px solid blue; */
  flex-direction: column;
  justify-content: space-around;
  padding-left: 50px;
}
.column-item {
  border: 1px solid rgb(10, 10, 10);
  border-radius: 5px;
  padding: 5px;
  width: fit-content;
  font-size: 18px;
}
.column-item:hover {
  background-color: rgb(252, 249, 215);
}

.response-container {
  display: flex;
  width: 100%;
  height: 400px;
  justify-content: space-around;
  align-items: center;
}

.graph-container {
  width: 40%;
}