h1 {
  color: yellow
}

.add-character-form  {
  display: flex;
  /* flex-direction: column; */
  /* align-items: ; */
  justify-content: space-around;
  margin: auto;
  width: 70%;
  flex-wrap: wrap;
  padding: 10px;

}

.add-character-input {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.add-character-input input {
  width: 150px;
  margin-left: 5px;
}
