/* @font-face {
  font-family: 'Star Jedi';
  src: url('/fonts/StarJedi.eot');
  src: url('/fonts/StarJedi.eot?#iefix') format('embedded-opentype'),
      url('/fonts/StarJedi.woff2') format('woff2'),
      url('/fonts/StarJedi.woff') format('woff'),
      url('/fonts/StarJedi.ttf') format('truetype'),
      url('/fonts/StarJedi.svg#StarJedi') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-position: center;
  background-attachment: fixed;
  background-image: url(https://mcdn.wallpapersafari.com/medium/1/97/co341S.jpg);
  width: 1.5vw;
  animation: fade-in 0.5s ease-in;
}

::-webkit-scrollbar-thumb {
  background-image: radial-gradient(black, white);
  box-shadow: 0 0 5px white;
  border-radius: 50%;
  width: 1vw;
  animation: fade-in 0.5s ease-in;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}

@keyframes expand-horizontal {
  from {
    width: 0px;
    background-color: white;
  }
  to {
    width: 50vw;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    background-color: white;
  }
  to {
    opacity: 1;
  }
}

body {
  background-position: center;
  background-attachment: fixed;
  background-image: url(https://mcdn.wallpapersafari.com/medium/1/97/co341S.jpg);
}

.home-container {
  display: flex;
  flex-direction: column;
}

input:focus {
  outline: 2px solid black !important;
}

h1 {
  font-family: "Star Wars", sans-serif;
  color: yellow;
  text-align: center;
  font-size: 4.5vw;
  padding: 10px;
  margin-bottom: 10px;
}

.mid-container {
  display: flex;
  height: 25vw;
  justify-content: center;
}

/* ////////       button option section      /////////*/
.button-container {
  margin-right: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 20vw;
}

.button-container button {
  width: 7vw;
  height: 7vw;
  padding: 5px;
  border-radius: 50%;
  background-size: 7vw;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: white;
}

.add-character button {
  background-size: 5vw;
}

.button-container div {
  display: flex;
  justify-content: center;
  padding: 10px;
}

/* ////////       display card section      /////////*/

#input-field {
  width: 50vw;
  margin-left: 1vw;
  display: flex;
  justify-content: center;
}

.search-all {
  background-color: #2e67f8cc;
}
.search-one {
  background-color: #eb212ecc;
}
.add-one {
  background-color: #2ff924cc;
}

.input-field-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: expand-horizontal 0.4s ease-in;
  width: 50vw;
  border-radius: 20%;
}

.character-search {
  margin-top: 5%;
}

.input-no-button {
  height: 80%;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-character-form label {
  text-align: center;
}

.add-input-row {
  display: flex;
}

.add-character-input {
  display: flex;
  flex-direction: column;
  padding: 1vw;
}

.input-field-div p {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 2.5vw;
  color: white;
  text-shadow: 0 0 5px black;
  margin: 0;
}

.input-field-div label {
  font-size: 1.5vw;
  font-weight: bold;
  text-shadow: 0 0 3px white;
}

.input-field-div input {
  width: 10vw;
  padding: 5px;
  border: 1px solid black;
  border-radius: 30%;
  text-align: center;
}

.input-field-div input:active {
  border: 3px solid black;
}

.input-field-div button {
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  background-position: center;
  background-attachment: fixed;
  background-image: url(https://mcdn.wallpapersafari.com/medium/1/97/co341S.jpg);
  color: white;
  font-size: 1.5vw;
  font-weight: bold;
  margin-bottom: 10px;
}

.input-field-div button:hover {
  box-shadow: 0 0 20px white;
}

#death-star {
  width: 23.5vw;
  height: 23.5vw;
  background-image: url("https://toppng.com//public/uploads/preview/the-death-star-star-wars-death-star-11562902961caqjz9dfv9.png");
  background-size: 25vw;
  border-radius: 50%;
  background-position: center center;
}

/* ////////       character card section      /////////*/
.response-container {
  height: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.character-container {
  width: 42vw;
  height: 20vw;
  margin-right: 2.5vw;
  overflow-y: auto;
}
.character-card {
  background-color: #71797ecc;
  border-radius: 18%;
  display: flex;
  margin-bottom: 2vw;
  animation: fade-in 0.5s ease-in;
}
.left-container {
  display: flex;
  flex-direction: column;
  width: 10vw;
}

.img-div {
  height: 10vw;
  display: flex;
  align-items: end;
  justify-content: center;
}

.char-name-div {
  height: 10vw;
}

.character-image {
  max-width: 8vw;
  max-height: 8vw;
  border-radius: 10px;
  box-shadow: 3px 3px 5px white;
}

.character-name {
  font-family: "Orbitron", sans-serif;
  font-size: 1.5vw;
  color: white;
  text-shadow: 0 0 5px black;
  text-align: center;
}
.right-container {
  display: flex;
  flex: 1;
}

.column {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.trait-box {
  height: 33.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.trait-box p {
  margin: 0;
}
.description {
  font-size: 1.5vw;
  font-weight: bold;
  text-shadow: 0 0 5px white;
  padding: 5px;
}
.column-item {
  border-radius: 90%;
  background-position: center;
  background-attachment: fixed;
  background-image: url(https://mcdn.wallpapersafari.com/medium/1/97/co341S.jpg);
  color: white;
  box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.1);
  padding: 5px;
  width: 75%;
  height: 40%;
  font-size: 2vw;
  text-align: center;
}
.column-item:hover {
  background-image: none;
  background-color: rgb(252, 249, 215);
  color: black;
}

/* ////////       bar graph section      /////////*/
.bar-graph {
  display: grid;
  height: 20vw;
  width: 42vw;
  margin-left: 2.5vw;
  grid-template-columns: 5vw 1fr;
  grid-template-rows: 3vw 14vw 2vw;
  padding: 0.5;
  background-color: #71797ecc;
  border-radius: 18%;
  animation: fade-in 0.5s ease-in;
}

.bar-graph div {
  text-align: center;
}

.bar-graph-title {
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 2vw;
  color: yellow;
  text-shadow: 0 0 5px black;
  font-family: "Orbitron", sans-serif;
}

.bar-graph-x-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.x-name {
  transform: rotate(-90deg);
  font-size: 2vw;
  height: 1.5vw;
  text-shadow: 0 0 5px white;
}

.x-label {
  font-size: 1vw;
  color: white;
  margin-right: 10px;
}

.x-label p {
  margin-bottom: 3vw;
  background-image: radial-gradient(
    black,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.2)
  );
  border-radius: 40%;
  padding: 1px 3px;
}

.bar-graph-display {
  border: 3px white;
  border-style: none none solid solid;
  display: flex;
}

.bar-graph-y-name {
  padding: 0.2vw;
  font-size: 2vw;
  text-shadow: 0 0 5px white;
}

.bar-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 18%;
  margin: 0 0 0 10px;
}

.bar-column p {
  background-image: radial-gradient(
    white,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.2)
  );
  box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.2);
  border-radius: 40%;
  font-weight: bold;
  font-size: 1.5vw;
  padding: 1px 3px;
  margin: 0;
}

.bar-data {
  width: 100%;
  border-radius: 5% 5% 0 0;
  margin-top: 2px;
  border: 1px black;
  border-style: solid solid none solid;
}

.bar-data:hover {
  border: 2px white;
  border-style: groove groove none groove;
  box-shadow: 0 0 5px white;
}

.footer {
  color: yellow;
  width: 100%;
  text-align: center;
}
